.recap {
    border-top: solid 2px #fff;
    margin-top: 63px;
    padding-top: 63px;



    &__paraNoItem {
        font-family: "Manrope", sans-serif;
        margin: 0;
        font-size: 17px;
        color: #fff;
        margin-bottom: 17px;
    }

    &__subtitle {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
        color: #fff;
        margin: 0;
        margin-bottom: 47px;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__conditionsList {
        list-style: none;
        padding: 0;
        margin-top: 36px;

        :nth-child(2) {
            margin-top: 15px;
        }
    }

    &__el {
        font-family: "Manrope", sans-serif;
        margin: 0;
        font-size: 17px;
        color: #fff;
        margin-bottom: 17px;

        &--big {
            font-size: 27px;
            margin-top: 27px;
        }

    }

    &__img {
        margin-top: 63px;
        width: 100%;
        padding: 0;
    }

    &__listButton {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__aList {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__link {
        font-family: "Manrope", sans-serif;
        font-size: 20px;
        border: #fff 1px solid;
        padding: 11px 15px;
        display: flex;
        margin: 0 auto;
        margin-top: 47px;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    &__conditionsLabel {
        font-family: "Manrope", sans-serif;
        margin: 0;
        font-size: 17px;
        color: #ffffff;
        margin-bottom: 11px;

        &--underline {
            text-decoration: underline;
        }
    }
}

@media (min-width:750px) {
    .recap {
        padding: 84px 0px;
        padding-bottom: 0;
        margin-top: 84px;

        &__paraNoItem {
            font-family: "Manrope", sans-serif;
            margin: 0;
            font-size: 20px;
            color: #fff;
            margin-bottom: 20px;
        }

        &__subtitle {
            font-family: "Libre Caslon Display", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 47px;
            color: #fff;
            margin: 0;
            margin-bottom: 63px;
        }

        &__list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
        }

        &__el {
            font-family: "Manrope", sans-serif;
            margin: 0;
            font-size: 20px;
            color: #fff;
            margin-bottom: 20px;

            &--big {
                font-size: 27px;
                margin-top: 36px;
            }

        }

        &__img {
            width: 80%;
            padding: 0;
            display: flex;
            margin: 0 auto;
            margin-top: 84px;
        }

        &__listButton {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        &__link {
            font-size: 27px;
            border: #fff 2px solid;
            padding: 15px 20px;

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        &__conditionsLabel {
            font-family: "Manrope", sans-serif;
            margin: 0;
            font-size: 20px;
            color: #ffffff;
            margin-bottom: 11px;
        }

        &__conditionsList {
            margin-top: 47px;
            margin-bottom: 20px;

            :nth-child(2) {
                margin-top: 15px;
            }
        }
    }
}

@media (min-width:1250px) {
    .recap {
        border-top: solid 0px #fff;
        padding: 0px 0px;
        padding-bottom: 0;
        margin-top: 0px;
        width: 35%;
        background-color: rgb(24, 19, 58);
        height: fit-content;
        padding: 52px;

        &__paraNoItem {
            font-family: "Manrope", sans-serif;
            margin: 0;
            font-size: 22px;
            color: #fff;
            margin-bottom: 22px;
        }

        &__subtitle {
            font-family: "Libre Caslon Display", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 52px;
            color: #fff;
            margin: 0;
            margin-top: 0px;
            margin-bottom: 69px;
        }

        &__list {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
        }

        &__el {
            font-family: "Manrope", sans-serif;
            margin: 0;
            font-size: 22px;
            color: #fff;
            margin-bottom: 22px;

            &--big {
                font-size: 39px;
                margin-top: 39px;
                margin-bottom: 0;
            }

        }

        &__img {
            width: 50%;
            padding: 0;
            display: flex;
            margin: 0 auto;
            margin-top: 93px;
        }

        &__listButton {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
        }

        &__aList {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;
            margin-top: 52px;
        }

        &__link {
            font-size: 29px;
            border: #fff 2px solid;
            padding: 15px 20px 19px 20px;
            display: flex;
            margin: 0 auto;
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s;

            a {
                color: #fff;
                text-decoration: none;
                display: block;
                transition: color 0.3s;
            }

            &:hover {
                background-color: #fff;
                color: #000;
            }

            &:hover a {
                color: #000;
            }
        }

        &__conditionsInput {
            width: 15px;
            height: 15px;
        }

        &__conditionsLabel {
            font-family: "Manrope", sans-serif;
            margin: 0;
            font-size: 22px;
            color: #ffffff;
            margin-bottom: 11px;
        }

        &__conditionsList {
            margin-top: 69px;

            :nth-child(2) {
                margin-top: 17px;
            }
        }
    }
}