.remerciement {
    margin-top: 67.6px;
    padding-left: 20px;
    padding-right: 20px;

    &__title {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 47px;
        color: #fff;
        margin: 0;
        padding-top: 47px;
        margin-bottom: 47px;
    }

    &__subtitle {
        font-family: "Libre Caslon Display", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
        color: #fff;
        margin: 0;
        margin-top: 47px;
        margin-bottom: 36px;
    }

    &__h3 {
        font-family: "Manrope", sans-serif;
        margin: 0;
        font-size: 20px;
        color: #fff;

    }

    &__text {
        font-family: "Manrope", sans-serif;
        margin: 0;
        font-size: 17px;
        color: #fff;
        margin-bottom: 7px;
    }

    &__list {
        padding: 0;
        list-style: none;
        margin-top: 27px;
        margin-bottom: 27px;
    }

    &__el {
        font-family: "Manrope", sans-serif;
        margin: 0;
        font-size: 13px;
        color: #fff;
        margin-bottom: 7px;
    }
}

@media (min-width:750px) {
    .remerciement {
        margin-top: 91.1px;
        padding-left: 40px;
        padding-right: 40px;

        &__title {
            font-family: "Libre Caslon Display", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 47px;
            color: #fff;
            margin: 0;
            padding-bottom: 47px;
            margin-top: 84px;
        }

        &__subtitle {
            font-family: "Libre Caslon Display", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 36px;
            color: #fff;
            margin: 0;
            margin-top: 63px;
            margin-bottom: 63px;
        }

        &__h3 {
            font-family: "Manrope", sans-serif;
            margin: 0;
            font-size: 22px;
            color: #fff;
        }

        &__text {
            font-family: "Manrope", sans-serif;
            margin: 0;
            font-size: 20px;
            color: #fff;
            max-width: 70%;
            display: flex;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        &__list {
            padding: 0;
            list-style: none;
            margin-top: 27px;
            margin-bottom: 27px;
        }

        &__el {
            font-family: "Manrope", sans-serif;
            margin: 0;
            font-size: 17px;
            color: #fff;
            margin-bottom: 7px;
        }
    }
}

@media (min-width:1250px) {
    .remerciement {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 94.4px;
        padding-left: 69px;
        padding-right: 69px;

        &__content {
            max-width: 80vw;
        }

        &__title {
            font-family: "Libre Caslon Display", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 69px;
            color: #fff;
            margin: 0;
            margin-bottom: 93px;
            padding-top: 93px;
        }

        &__subtitle {
            font-family: "Libre Caslon Display", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 52px;
            color: #fff;
            margin: 0;
            margin-top: 69px;
            margin-bottom: 69px;
        }

        &__h3 {
            font-family: "Manrope", sans-serif;
            margin: 0;
            font-size: 29px;
            color: #fff;
        }

        &__text {
            font-family: "Manrope", sans-serif;
            margin: 0;
            font-size: 29px;
            color: #fff;
            margin-bottom: 22px;
            max-width: 70%;
        }

        &__list {
            padding: 0;
            list-style: none;
            margin-top: 29px;
            margin-bottom: 29px;
        }

        &__el {
            font-family: "Manrope", sans-serif;
            margin: 0;
            font-size: 22px;
            color: #fff;
            margin-bottom: 7px;
        }
    }
}