header {
  background: rgba(2, 7, 14, 0.9);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(2, 7, 14, 0.2);
  width: 100vw;
}

.header--sticky {
  position: fixed;
  top: -100px;
  width: 100%;
  transition: top 0.3s;
  z-index: 1000;
  width: 100vw;
}
.header--sticky.visible {
  top: 0;
  width: 100vw;
}

.nav--desktop {
  display: none;
}
.nav__el {
  display: table-cell;
  position: relative;
  transition: transform 0.3s ease;
}
.nav__el:hover {
  transform: scale(1.1);
}
.nav__el a:after {
  bottom: -3px;
  content: "";
  height: 1px;
  left: 50%;
  border-radius: 5px;
  position: absolute;
  background: #fff;
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
  width: 0;
}
.nav__el a:hover:after {
  width: 100%;
  left: 0;
}
.nav__el--active a:after {
  width: 100%;
  left: 0;
}
.nav__logo {
  width: 47px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 30;
}
.nav--mobile {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
}
.nav--credit {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-between;
}
.nav__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}
.nav__el {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  color: #fff;
  margin: 0;
  display: flex;
  margin-right: 20px;
}
.nav__el img {
  width: 22px;
  padding-left: 5px;
}
.nav__el a {
  color: #fff;
  text-decoration: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000616;
  z-index: 10;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in;
}
.menu.active {
  transform: translateY(0);
}
.menu__nav--toggle {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  box-shadow: none;
  z-index: 30;
  padding: 0;
}
.menu__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: auto 0;
  padding: 0;
  margin-bottom: 0;
}
.menu__el {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-style: normal;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  padding: 27px;
  letter-spacing: 5px;
}
.menu__el--button {
  border: solid 2px #fff;
  padding: 11px 15px;
  margin-top: 27px;
}
.menu__el--buttonCenter {
  border: solid 2px #fff;
  padding: 11px 15px;
}
.menu__el img {
  padding-left: 7px;
  width: 20px;
  align-items: center;
}
.menu__el a {
  color: #fff;
  text-decoration: none;
}
.menu__bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: transform 0.3s, opacity 0.3s;
  border-radius: 3px;
}

body.menu--open,
html.menu--open {
  overflow: hidden;
}

.menu__nav--toggle.active .menu__bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu__nav--toggle.active .menu__bar:nth-child(2) {
  opacity: 0;
}

.menu__nav--toggle.active .menu__bar:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (min-width: 750px) {
  .menu__nav--toggle {
    right: 36px;
  }
  .menu__bar {
    width: 36px;
    height: 4px;
  }
  .menu__el {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 27px;
    color: #fff;
    padding: 46.5px;
    letter-spacing: 5px;
  }
  .menu__el--button {
    border: solid 2px #fff;
    padding: 11px 15px;
    margin-top: 0px;
  }
  .menu__el img {
    padding-left: 10px;
    width: 22px;
    align-items: center;
  }
  .menu__nav--toggle.active .menu__bar:nth-child(1) {
    transform: translateY(11px) rotate(45deg);
  }
  .nav__logo {
    width: 63px;
    margin-top: 27px;
    margin-left: 40px;
    margin-bottom: 27px;
  }
  .nav__el {
    font-size: 15px;
    margin-right: 40px;
  }
  .nav__el img {
    width: 7px;
    padding-left: 7px;
  }
}
@media (min-width: 1250px) {
  header {
    width: 100%;
    height: 96px;
    display: flex;
    box-sizing: border-box;
    padding-left: 69px;
    padding-right: 69px;
  }
  .nav {
    width: 100vw;
    height: 96px;
    background-color: #000616;
  }
  .nav--desktop {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-between;
  }
  .nav--mobile {
    display: none;
  }
  .nav__logo {
    width: 69px;
    margin-top: 29px;
    margin-left: 29px;
    margin-bottom: 29px;
    margin: auto;
  }
  .nav__list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  .nav__el {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    margin: auto 0;
    display: flex;
    align-items: center;
    margin-left: 69px;
  }
  .nav__el--button {
    border: solid 2px #fff;
    padding: 11px 15px;
  }
  .nav__el img {
    padding-left: 7px;
    width: 20px;
  }
  .nav__el a {
    color: #fff;
    text-decoration: none;
  }
}
body {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: #000616;
}

.body {
  transition: opacity 0.5s ease;
}

.br {
  display: block;
}

p {
  line-height: 140%;
}

main {
  margin: 0;
  padding: 0;
}

.button__linkSubmit {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  border: #fff 1px solid;
  padding: 11px 15px;
  margin: 0 auto;
  margin-top: 47px;
  background-color: #000616;
  color: #fff;
  box-sizing: border-box;
}
.button__linkSubmit--center {
  display: flex;
  justify-content: center;
}

.a__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.a__link {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  border: #fff 1px solid;
  padding: 11px 15px;
  margin: 0 auto;
}
.a__link a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 750px) {
  .button__linkSubmit {
    font-size: 27px;
    border: #fff 2px solid;
    padding: 15px 20px;
    background-color: #000616;
    color: #fff;
  }
  .a__link {
    font-size: 27px;
    border: #fff 2px solid;
    padding: 15px 20px;
  }
}
@media (min-width: 1250px) {
  .button__linkSubmit {
    font-size: 29px;
    border: #fff 2px solid;
    padding: 15px 20px;
    background-color: rgb(24, 19, 58);
    color: #fff;
    cursor: pointer;
    margin-bottom: 0;
    margin-top: 52px;
    transition: background-color 0.3s, color 0.3s;
  }
  .button__linkSubmit:hover {
    background-color: #fff;
    color: #000;
  }
  .a__list {
    display: flex;
    justify-content: center;
  }
  .a__link {
    border: #fff 2px solid;
    border-radius: 5px;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 12px;
    overflow: hidden;
    margin-bottom: 52px;
  }
  .a__link--anim {
    padding: 15px 20px 19px 20px;
    font-family: "Manrope", sans-serif;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    font-size: 22px;
  }
  .a__link:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  .a__link:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .a__link a {
    padding: 10px 25px;
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .a__link:hover a {
    color: black;
  }
  .a a {
    color: #fff;
    text-decoration: none;
  }
}
.footer {
  padding-left: 20px;
  padding-right: 20px;
}
.footer__title {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #fff;
  margin: 0;
  margin-top: 84px;
  margin-bottom: 47px;
}
.footer__content {
  display: flex;
  justify-content: space-around;
}
.footer__list {
  margin: 0;
  padding: 0;
}
.footer__el {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 13px;
  color: #fff;
  list-style: none;
  margin-bottom: 7px;
}
.footer__el a {
  color: #fff;
  text-decoration: none;
}
.footer__el--reseau {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}
.footer__el--reseau li:hover img {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.footer__el--reseauEl {
  list-style: none;
  margin: 0;
}
.footer__small {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 11px;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 27px;
  margin-bottom: 20px;
}
.footer__small a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 750px) {
  .footer {
    padding-left: 40px;
    padding-right: 40px;
  }
  .footer__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 47px;
    color: #fff;
    margin: 0;
    margin-top: 84px;
    margin-bottom: 47px;
  }
  .footer__content {
    display: flex;
    justify-content: space-around;
  }
  .footer__list {
    margin: 0;
    padding: 0;
  }
  .footer__el {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 17px;
    color: #fff;
    list-style: none;
    margin-bottom: 10px;
  }
  .footer__el a {
    color: #fff;
    text-decoration: none;
  }
  .footer__el--reseau {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
  .footer__el--reseauEl {
    list-style: none;
    margin: 0;
  }
  .footer__small {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 36px;
    margin-bottom: 27px;
  }
}
@media (min-width: 1250px) {
  .footer {
    padding-left: 69px;
    padding-right: 69px;
  }
  .footer__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
    color: #fff;
    margin: 0;
    margin-top: 93px;
    margin-bottom: 69px;
  }
  .footer__link:hover {
    text-decoration: underline;
  }
  .footer__content {
    display: flex;
    justify-content: space-between;
  }
  .footer__list {
    margin: 0;
    padding: 0;
  }
  .footer__el {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 17px;
    color: #fff;
    list-style: none;
    margin-bottom: 10px;
  }
  .footer__el a {
    color: #fff;
    text-decoration: none;
  }
  .footer__el--reseau {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 29px;
  }
  .footer__el--reseauEl {
    list-style: none;
    margin: 0;
  }
  .footer__el--reseauEl img {
    width: 29px;
  }
  .footer__small {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 17px;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 39px;
    margin-bottom: 29px;
  }
}
.tomes {
  overflow: hidden;
  white-space: nowrap;
}
.tomes__title {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #fff;
  margin: 0;
  margin-top: 84px;
  margin-bottom: 47px;
  padding-left: 20px;
}
.tomes__img {
  display: inline-flex;
}
.tomes__img img {
  height: 200px;
  margin: 0 10px;
  cursor: pointer;
}
.tomes__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.tomes__overlay img {
  max-width: 90%;
  max-height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (min-width: 750px) {
  .tomes__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 47px;
    color: #fff;
    margin: 0;
    margin-top: 84px;
    margin-bottom: 47px;
    padding-left: 40px;
  }
  .tomes__img img {
    height: 300px;
    margin: 0 10px;
    cursor: pointer;
  }
}
@media (min-width: 1250px) {
  .tomes__title {
    font-size: 52px;
    margin: 0;
    margin-bottom: 69px;
    padding-left: 69px;
  }
  .tomes__img img {
    height: 300px;
    margin: 0 10px;
    cursor: pointer;
  }
}
.description {
  padding-left: 20px;
  padding-right: 20px;
}
.description__text--title {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #fff;
  margin: 0;
  margin-top: 84px;
  margin-bottom: 47px;
}
.description__text--p {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 17px;
  color: #fff;
  margin-bottom: 63px;
}
.description__video {
  width: 80vw;
  display: flex;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .description {
    padding-left: 40px;
    padding-right: 40px;
  }
  .description__text--title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 47px;
    color: #fff;
    margin: 0;
    margin-top: 84px;
    margin-bottom: 47px;
  }
  .description__text--p {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #fff;
    margin-bottom: 63px;
    max-width: 70vw;
  }
  .description__video {
    width: 80vw;
    display: flex;
    margin: 0 auto;
  }
}
@media (min-width: 1250px) {
  .description {
    padding-left: 69px;
    padding-right: 69px;
    display: flex;
    margin-top: 93px;
    margin-bottom: 93px;
  }
  .description__text--title {
    font-size: 52px;
    margin: 0;
    margin-bottom: 69px;
  }
  .description__text--p {
    font-size: 22px;
    max-width: 40vw;
    margin: 0;
  }
  .description__video {
    width: 45vw;
    margin: 0;
    margin-left: 69px;
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
.accueil__gif {
  width: 100vw;
  margin: 0;
  padding: 0;
  margin-top: 67.66px;
}
.accueil__content {
  padding-left: 20px;
  padding-right: 20px;
}
.accueil__h1 {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 63px;
  color: #fff;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
.accueil__p {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 20px;
  color: #fff;
  margin-bottom: 63px;
}
.accueil__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.accueil__link {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  border: #fff 1px solid;
  padding: 11px 15px;
  margin: 0 auto;
}
.accueil__link a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 750px) {
  .accueil__gif {
    margin-top: 91.1px;
  }
  .accueil__content {
    padding-left: 40px;
    padding-right: 40px;
  }
  .accueil__h1 {
    font-size: 84px;
    margin-top: 27px;
    margin-bottom: 27px;
  }
  .accueil__p {
    font-size: 27px;
    margin-bottom: 84px;
  }
  .accueil__link {
    font-size: 27px;
    border: #fff 2px solid;
    padding: 15px 20px 19px 20px;
  }
}
@media (min-width: 1250px) {
  .accueil {
    display: flex;
    justify-content: end;
    margin-top: 96px;
  }
  .accueil__gif {
    width: 100vw;
    position: absolute;
    margin: 0;
  }
  .accueil__content {
    position: relative;
    width: 70vh;
    border-top-left-radius: 10000px;
    border-bottom-left-radius: 10000px;
    background: rgba(0, 6, 22, 0.75);
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    border: 1px solid rgba(0, 6, 22, 0.25);
    padding-left: 69px;
    padding-right: 69px;
  }
  .accueil__h1 {
    margin-top: 45%;
    font-size: 84px;
    margin-bottom: 12px;
    margin-left: 69px;
  }
  .accueil__p {
    font-size: 22px;
    margin-bottom: 69px;
    margin-left: 69px;
  }
  .accueil__link {
    display: block;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    padding-bottom: 12px;
    overflow: hidden;
    margin: 0;
    margin-bottom: 47px;
    margin-left: 69px;
  }
  .accueil__link--anim {
    padding: 15px 20px 19px 20px;
    font-family: "Manrope", sans-serif;
    background: transparent;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    font-size: 29px;
  }
  .accueil__link:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  .accueil__link:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .accueil__link a {
    padding: 10px 25px;
    position: relative;
    z-index: 2;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .accueil__link:hover a {
    color: black;
  }
  .accueil a {
    color: #fff;
    text-decoration: none;
  }
}
.coffret {
  padding-left: 20px;
  padding-right: 20px;
}
.coffret__title {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #fff;
  margin: 0;
  margin-top: 84px;
  margin-bottom: 47px;
}
.coffret__content--img {
  width: 50vw;
  display: flex;
  margin: 0 auto;
  margin-bottom: 47px;
}
.coffret__p {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 17px;
  color: #fff;
  margin-bottom: 47px;
}
.coffret__p--weight {
  font-weight: 800;
}

@media (min-width: 750px) {
  .coffret {
    padding-left: 40px;
    padding-right: 40px;
  }
  .coffret__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 47px;
    color: #fff;
    margin: 0;
    margin-top: 84px;
    margin-bottom: 47px;
  }
  .coffret__content--img {
    width: 40vw;
    display: flex;
    margin: 0 auto;
    margin-bottom: 47px;
  }
  .coffret__p {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #fff;
    margin-bottom: 63px;
    max-width: 70vw;
  }
  .coffret__p--weight {
    font-weight: 800;
  }
}
@media (min-width: 1250px) {
  .coffret {
    padding-left: 69px;
    padding-right: 69px;
  }
  .coffret__title {
    font-size: 52px;
    margin: 0;
    margin-bottom: 69px;
    margin-top: 93px;
  }
  .coffret__content {
    display: flex;
    justify-content: center;
  }
  .coffret__content--img {
    width: 20vw;
    display: flex;
    margin: 0;
  }
  .coffret__content--text {
    margin: auto 0;
    margin-left: 93px;
    align-items: center;
  }
  .coffret__p {
    font-size: 22px;
    max-width: 40vw;
  }
  .coffret__p--weight {
    font-weight: 800;
  }
}
.panier {
  margin-top: 67.6px;
  padding-left: 20px;
  padding-right: 20px;
}
.panier__title {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 47px;
  color: #fff;
  margin: 0;
  padding-top: 47px;
  margin-bottom: 47px;
}
.panier__contentBook {
  margin-bottom: 63px;
}
.panier__quantity {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.panier__contentEbook {
  border-top: solid 2px #fff;
}
.panier__img {
  width: 40vw;
  display: flex;
  margin: 0 auto;
  margin-bottom: 47px;
  margin-top: 63px;
}
.panier__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.panier__el {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 17px;
  color: #fff;
  margin-bottom: 7px;
}
.panier__count {
  background: #000616;
  color: #fff;
  padding: 3px;
  margin-left: 15px;
  display: flex;
  align-items: center;
}

@media (min-width: 750px) {
  .panier {
    margin-top: 91.1px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .panier__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 63px;
    color: #fff;
    margin: 0;
    padding-top: 63px;
    margin-bottom: 0px;
  }
  .panier__contentBook {
    margin-bottom: 0px;
  }
  .panier__quantity {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .panier__content {
    display: flex;
    justify-content: space-around;
  }
  .panier__contentEbook {
    border-top: solid 0px #fff;
  }
  .panier__img {
    width: 25vw;
    display: flex;
    margin: 0 auto;
    margin-bottom: 63px;
    margin-top: 93px;
  }
  .panier__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .panier__el {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #fff;
    margin-bottom: 7px;
  }
  .panier__count {
    background: #000616;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    margin-left: 20px;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1250px) {
  .panier {
    margin-top: 94.4px;
    padding-left: 69px;
    padding-right: 69px;
  }
  .panier__title {
    font-size: 52px;
    margin: 0;
    margin-bottom: 69px;
    margin-top: 93px;
  }
  .panier__img {
    width: 15vw;
    display: flex;
    margin: 0 auto;
    margin-bottom: 69px;
    margin-top: 0px;
  }
  .panier__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .panier__el {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 22px;
    color: #fff;
    margin-bottom: 9px;
  }
  .panier__count {
    background: #000616;
    color: #fff;
    font-size: 17px;
    padding: 7px;
    margin-left: 22px;
    display: flex;
    align-items: center;
  }
}
.panierTotal {
  background: linear-gradient(rgb(0, 6, 22) 0%, rgb(23, 19, 51) 33%, rgb(23, 19, 51) 66%, rgb(0, 6, 22) 100%);
  padding: 84px 20px;
  padding-bottom: 0;
}
.panierTotal__title {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #fff;
  margin: 0;
  margin-bottom: 47px;
}
.panierTotal__paraNoItem {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 17px;
  color: #fff;
  margin-bottom: 17px;
}
.panierTotal__subtitle {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 27px;
  color: #fff;
  margin: 0;
  margin-top: 63px;
  margin-bottom: 47px;
}
.panierTotal__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.panierTotal__list--book {
  display: none;
}
.panierTotal__list--ebook {
  display: none;
}
.panierTotal__el {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 17px;
  color: #fff;
  margin-bottom: 17px;
}
.panierTotal__el--big {
  font-size: 27px;
  margin-top: 27px;
}
.panierTotal__img {
  margin-top: 63px;
  width: 100%;
  padding: 0;
}
.panierTotal__listButton {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.panierTotal__link {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  border: #fff 1px solid;
  padding: 11px 15px;
  display: flex;
  margin: 0 auto;
  margin-top: 47px;
}
.panierTotal__link a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 750px) {
  .panierTotal {
    background: linear-gradient(rgb(0, 6, 22) 0%, rgb(23, 19, 51) 33%, rgb(23, 19, 51) 66%, rgb(0, 6, 22) 100%);
    padding: 84px 40px;
    padding-bottom: 0;
    margin-top: 0px;
  }
  .panierTotal__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 47px;
    color: #fff;
    margin: 0;
  }
  .panierTotal__paraNoItem {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
  }
  .panierTotal__subtitle {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #fff;
    margin: 0;
    margin-top: 63px;
    margin-bottom: 63px;
  }
  .panierTotal__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .panierTotal__list--book {
    display: none;
  }
  .panierTotal__list--ebook {
    display: none;
  }
  .panierTotal__el {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
  }
  .panierTotal__el--big {
    font-size: 27px;
    margin-top: 36px;
  }
  .panierTotal__img {
    width: 80%;
    padding: 0;
    display: flex;
    margin: 0 auto;
    margin-top: 84px;
  }
  .panierTotal__listButton {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .panierTotal__link {
    font-size: 27px;
    border: #fff 2px solid;
    padding: 15px 20px;
  }
  .panierTotal__link a {
    color: #fff;
    text-decoration: none;
  }
}
@media (min-width: 1250px) {
  .panierTotal {
    background: linear-gradient(rgb(0, 6, 22) 0%, rgb(23, 19, 51) 33%, rgb(23, 19, 51) 66%, rgb(0, 6, 22) 100%);
    padding: 123px 69px;
    padding-bottom: 0;
    margin-top: 0px;
  }
  .panierTotal__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
    color: #fff;
    margin: 0;
    margin-bottom: 93px;
  }
  .panierTotal__content {
    max-width: 70%;
    display: grid;
    margin: 0 auto;
  }
  .panierTotal__paraNoItem {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 22px;
    color: #fff;
    margin-bottom: 22px;
  }
  .panierTotal__subtitle {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 39px;
    color: #fff;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 69px;
  }
  .panierTotal__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .panierTotal__list--book {
    display: none;
  }
  .panierTotal__list--ebook {
    display: none;
  }
  .panierTotal__el {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 22px;
    color: #fff;
    margin-bottom: 22px;
  }
  .panierTotal__el--big {
    font-size: 39px;
    margin-top: 39px;
  }
  .panierTotal__img {
    width: 50%;
    padding: 0;
    display: flex;
    margin: 0 auto;
    margin-top: 93px;
  }
  .panierTotal__listButton {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .panierTotal__link {
    font-size: 29px;
    border: #fff 2px solid;
    padding: 15px 20px;
    margin-top: 52px;
    position: relative;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
  }
  .panierTotal__link a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: color 0.3s;
  }
  .panierTotal__link:hover {
    background-color: #fff;
  }
  .panierTotal__link:hover a {
    color: #000616;
    border-radius: 10px;
  }
}
.livraison {
  margin-top: 67.6px;
  padding-left: 20px;
  padding-right: 20px;
}
.livraison__title {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 47px;
  color: #fff;
  margin: 0;
  padding-top: 47px;
  margin-bottom: 47px;
}
.livraison__gridParent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border: 0;
  padding: 0;
}
.livraison__gridLabel {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 11px;
}
.livraison__gridInput {
  padding: 8px;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-family: "Manrope", sans-serif;
  margin: 0;
  color: #ffffff;
}
.livraison__gridInput option {
  background-color: #000616;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
}
.livraison__gridEl--1 {
  grid-area: 1/1/2/3;
}
.livraison__gridEl--2 {
  grid-area: 1/3/2/5;
}
.livraison__gridEl--3 {
  grid-area: 2/1/3/5;
}
.livraison__gridEl--4 {
  grid-area: 3/1/4/5;
}
.livraison__gridEl--5 {
  grid-area: 4/1/5/3;
}
.livraison__gridEl--6 {
  grid-area: 4/3/5/5;
}
.livraison__gridEl--7 {
  grid-area: 5/1/6/3;
}
.livraison__gridEl--8 {
  grid-area: 5/3/6/5;
}
.livraison__gridParent div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.livraison__gridLabel {
  margin-bottom: 5px;
}

@media (min-width: 750px) {
  .livraison {
    margin-top: 91.1px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .livraison__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 63px;
    color: #fff;
    margin: 0;
    padding-top: 63px;
    margin-bottom: 63px;
  }
  .livraison__gridParent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
  }
  .livraison__gridLabel {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .livraison__gridInput {
    padding: 11px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 2px;
    font-family: "Manrope", sans-serif;
    margin: 0;
    color: #ffffff;
  }
  .livraison__gridInput option {
    background-color: #000616;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
  }
  .livraison__gridEl--1 {
    grid-area: 1/1/2/3;
  }
  .livraison__gridEl--2 {
    grid-area: 1/3/2/5;
  }
  .livraison__gridEl--3 {
    grid-area: 2/1/3/5;
  }
  .livraison__gridEl--4 {
    grid-area: 3/1/4/5;
  }
  .livraison__gridEl--5 {
    grid-area: 4/1/5/3;
  }
  .livraison__gridEl--6 {
    grid-area: 4/3/5/5;
  }
  .livraison__gridEl--7 {
    grid-area: 5/1/6/3;
  }
  .livraison__gridEl--8 {
    grid-area: 5/3/6/5;
  }
  .livraison__gridParent div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .livraison__gridLabel {
    margin-bottom: 7px;
  }
}
@media (min-width: 1250px) {
  .livraison {
    margin-top: 94.4px;
    padding-left: 69px;
    padding-right: 69px;
  }
  .livraison__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 69px;
    color: #fff;
    margin: 0;
    margin-bottom: 69px;
    padding-top: 69px;
  }
  .livraison__form {
    width: 100vw;
    display: flex;
    justify-content: space-around;
  }
  .livraison__gridParent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 29px;
    grid-row-gap: 29px;
  }
  .livraison__gridLabel {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 17px;
  }
  .livraison__gridInput {
    padding: 11px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 2px;
    font-family: "Manrope", sans-serif;
    margin: 0;
    color: #ffffff;
  }
  .livraison__gridInput option {
    background-color: #000616;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
  }
  .livraison__gridEl--1 {
    grid-area: 1/1/2/3;
  }
  .livraison__gridEl--2 {
    grid-area: 1/3/2/5;
  }
  .livraison__gridEl--3 {
    grid-area: 2/1/3/5;
  }
  .livraison__gridEl--4 {
    grid-area: 3/1/4/5;
  }
  .livraison__gridEl--5 {
    grid-area: 4/1/5/3;
  }
  .livraison__gridEl--6 {
    grid-area: 4/3/5/5;
  }
  .livraison__gridEl--7 {
    grid-area: 5/1/6/3;
  }
  .livraison__gridEl--8 {
    grid-area: 5/3/6/5;
  }
  .livraison__gridParent div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .livraison__gridLabel {
    margin-bottom: 7px;
  }
}
.recap {
  border-top: solid 2px #fff;
  margin-top: 63px;
  padding-top: 63px;
}
.recap__paraNoItem {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 17px;
  color: #fff;
  margin-bottom: 17px;
}
.recap__subtitle {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #fff;
  margin: 0;
  margin-bottom: 47px;
}
.recap__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.recap__conditionsList {
  list-style: none;
  padding: 0;
  margin-top: 36px;
}
.recap__conditionsList :nth-child(2) {
  margin-top: 15px;
}
.recap__el {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 17px;
  color: #fff;
  margin-bottom: 17px;
}
.recap__el--big {
  font-size: 27px;
  margin-top: 27px;
}
.recap__img {
  margin-top: 63px;
  width: 100%;
  padding: 0;
}
.recap__listButton {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.recap__aList {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.recap__link {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  border: #fff 1px solid;
  padding: 11px 15px;
  display: flex;
  margin: 0 auto;
  margin-top: 47px;
}
.recap__link a {
  color: #fff;
  text-decoration: none;
}
.recap__conditionsLabel {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 11px;
}
.recap__conditionsLabel--underline {
  text-decoration: underline;
}

@media (min-width: 750px) {
  .recap {
    padding: 84px 0px;
    padding-bottom: 0;
    margin-top: 84px;
  }
  .recap__paraNoItem {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
  }
  .recap__subtitle {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 47px;
    color: #fff;
    margin: 0;
    margin-bottom: 63px;
  }
  .recap__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .recap__el {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
  }
  .recap__el--big {
    font-size: 27px;
    margin-top: 36px;
  }
  .recap__img {
    width: 80%;
    padding: 0;
    display: flex;
    margin: 0 auto;
    margin-top: 84px;
  }
  .recap__listButton {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .recap__link {
    font-size: 27px;
    border: #fff 2px solid;
    padding: 15px 20px;
  }
  .recap__link a {
    color: #fff;
    text-decoration: none;
  }
  .recap__conditionsLabel {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 11px;
  }
  .recap__conditionsList {
    margin-top: 47px;
    margin-bottom: 20px;
  }
  .recap__conditionsList :nth-child(2) {
    margin-top: 15px;
  }
}
@media (min-width: 1250px) {
  .recap {
    border-top: solid 0px #fff;
    padding: 0px 0px;
    padding-bottom: 0;
    margin-top: 0px;
    width: 35%;
    background-color: rgb(24, 19, 58);
    height: -moz-fit-content;
    height: fit-content;
    padding: 52px;
  }
  .recap__paraNoItem {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 22px;
    color: #fff;
    margin-bottom: 22px;
  }
  .recap__subtitle {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
    color: #fff;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 69px;
  }
  .recap__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .recap__el {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 22px;
    color: #fff;
    margin-bottom: 22px;
  }
  .recap__el--big {
    font-size: 39px;
    margin-top: 39px;
    margin-bottom: 0;
  }
  .recap__img {
    width: 50%;
    padding: 0;
    display: flex;
    margin: 0 auto;
    margin-top: 93px;
  }
  .recap__listButton {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .recap__aList {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 52px;
  }
  .recap__link {
    font-size: 29px;
    border: #fff 2px solid;
    padding: 15px 20px 19px 20px;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  .recap__link a {
    color: #fff;
    text-decoration: none;
    display: block;
    transition: color 0.3s;
  }
  .recap__link:hover {
    background-color: #fff;
    color: #000;
  }
  .recap__link:hover a {
    color: #000;
  }
  .recap__conditionsInput {
    width: 15px;
    height: 15px;
  }
  .recap__conditionsLabel {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 11px;
  }
  .recap__conditionsList {
    margin-top: 69px;
  }
  .recap__conditionsList :nth-child(2) {
    margin-top: 17px;
  }
}
.cadeau__checkbox {
  margin-top: 63px;
}
.cadeau__checkboxLabel {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 17px;
  color: #ffffff;
  margin-bottom: 11px;
}
.cadeau__gridParent {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border: 0;
  padding: 0;
  margin-top: 36px;
}
.cadeau__gridLabel {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 11px;
}
.cadeau__gridInput {
  padding: 8px;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-family: "Manrope", sans-serif;
  margin: 0;
  color: #ffffff;
}
.cadeau__gridInput option {
  background-color: #000616;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
}
.cadeau__gridEl--1 {
  grid-area: 1/1/2/3;
}
.cadeau__gridEl--2 {
  grid-area: 1/3/2/5;
}
.cadeau__gridEl--3 {
  grid-area: 2/1/3/5;
}
.cadeau__gridEl--4 {
  grid-area: 3/1/4/5;
}
.cadeau__gridEl--5 {
  grid-area: 4/1/5/3;
}
.cadeau__gridEl--6 {
  grid-area: 4/3/5/5;
}
.cadeau__gridEl--7 {
  grid-area: 5/1/6/3;
}
.cadeau__gridEl--8 {
  grid-area: 5/3/6/5;
}
.cadeau__gridParent div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cadeau__gridLabel {
  margin-bottom: 5px;
}

@media (min-width: 750px) {
  .cadeau__checkbox {
    margin-top: 63px;
  }
  .cadeau__checkboxLabel {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 11px;
  }
  .cadeau__gridParent {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-top: 36px;
  }
  .cadeau__gridLabel {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .cadeau__gridInput {
    padding: 11px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 2px;
    font-family: "Manrope", sans-serif;
    margin: 0;
    color: #ffffff;
  }
  .cadeau__gridInput option {
    background-color: #000616;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
  }
  .cadeau__gridEl--1 {
    grid-area: 1/1/2/3;
  }
  .cadeau__gridEl--2 {
    grid-area: 1/3/2/5;
  }
  .cadeau__gridEl--3 {
    grid-area: 2/1/3/5;
  }
  .cadeau__gridEl--4 {
    grid-area: 3/1/4/5;
  }
  .cadeau__gridEl--5 {
    grid-area: 4/1/5/3;
  }
  .cadeau__gridEl--6 {
    grid-area: 4/3/5/5;
  }
  .cadeau__gridEl--7 {
    grid-area: 5/1/6/3;
  }
  .cadeau__gridEl--8 {
    grid-area: 5/3/6/5;
  }
  .cadeau__gridParent div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cadeau__gridLabel {
    margin-bottom: 7px;
  }
}
@media (min-width: 1250px) {
  .cadeau__checkbox {
    margin-top: 69px;
    box-sizing: border-box;
  }
  .cadeau__checkboxInput {
    width: 15px;
    height: 15px;
  }
  .cadeau__checkboxLabel {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 11px;
  }
  .cadeau__content {
    display: none;
  }
  .cadeau__gridParent {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin-top: 39px;
  }
  .cadeau__gridLabel {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 15px;
  }
  .cadeau__gridInput {
    padding: 11px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 2px;
    font-family: "Manrope", sans-serif;
    margin: 0;
    color: #ffffff;
  }
  .cadeau__gridInput option {
    background-color: #000616;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
  }
  .cadeau__gridEl--1 {
    grid-area: 1/1/2/3;
  }
  .cadeau__gridEl--2 {
    grid-area: 1/3/2/5;
  }
  .cadeau__gridEl--3 {
    grid-area: 2/1/3/5;
  }
  .cadeau__gridEl--4 {
    grid-area: 3/1/4/5;
  }
  .cadeau__gridEl--5 {
    grid-area: 4/1/5/3;
  }
  .cadeau__gridEl--6 {
    grid-area: 4/3/5/5;
  }
  .cadeau__gridEl--7 {
    grid-area: 5/1/6/3;
  }
  .cadeau__gridEl--8 {
    grid-area: 5/3/6/5;
  }
  .cadeau__gridParent div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cadeau__gridLabel {
    margin-bottom: 7px;
  }
}
.payement {
  margin-top: 67.6px;
  padding-left: 20px;
  padding-right: 20px;
}
.payement__title {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 47px;
  color: #fff;
  margin: 0;
  padding-top: 47px;
  margin-bottom: 63px;
}
.payement__method {
  margin-bottom: 36px;
}
.payement__form--margin {
  margin-bottom: 63px;
}
.payement__creditParent {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border: 0;
  padding: 0;
  margin-top: 20px;
}
.payement__gridLabel {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 11px;
}
.payement__gridInput {
  padding: 8px;
  font-size: 1em;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-family: "Manrope", sans-serif;
  margin: 0;
  color: #ffffff;
}
.payement__creditEl--1 {
  grid-area: 1/1/2/5;
}
.payement__creditEl--2 {
  grid-area: 2/1/3/3;
}
.payement__creditEl--3 {
  grid-area: 2/3/3/5;
}
.payement__creditEl--4 {
  grid-area: 3/1/4/5;
}
.payement__creditParent div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.payement__debitParent {
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  border: 0;
  padding: 0;
  margin-top: 20px;
}
.payement__debitParent div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.payement__debitEl--1 {
  grid-area: 1/1/2/5;
}
.payement__debitEl--2 {
  grid-area: 2/1/3/2;
}
.payement__debitEl--3 {
  grid-area: 3/1/4/2;
}
.payement__radioLabel {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 11px;
  display: flex;
  align-items: center;
}
.payement__radioLabel input {
  margin-right: 11px;
  width: 20px;
  height: 20px;
}
.payement__radioImg {
  height: 17px;
  margin-left: 9px;
}

@media (min-width: 750px) {
  .payement {
    margin-top: 91.1px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .payement__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 63px;
    color: #fff;
    margin: 0;
    padding-top: 63px;
    margin-bottom: 63px;
  }
  .payement__form--margin {
    margin-bottom: 84px;
  }
  .payement__method {
    margin-bottom: 47px;
  }
  .payement__creditParent {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    border: 0;
    padding: 0;
    margin-top: 40px;
  }
  .payement__gridLabel {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 11px;
  }
  .payement__gridInput {
    padding: 11px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 2px;
    font-family: "Manrope", sans-serif;
    margin: 0;
    color: #ffffff;
  }
  .payement__creditEl--1 {
    grid-area: 1/1/2/5;
  }
  .payement__creditEl--2 {
    grid-area: 2/1/3/3;
  }
  .payement__creditEl--3 {
    grid-area: 2/3/3/5;
  }
  .payement__creditEl--4 {
    grid-area: 3/1/4/5;
  }
  .payement__creditParent div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .payement__debitParent {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    border: 0;
    padding: 0;
    margin-top: 40px;
  }
  .payement__debitParent div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .payement__debitEl--1 {
    grid-area: 1/1/2/5;
  }
  .payement__debitEl--2 {
    grid-area: 2/1/3/2;
  }
  .payement__debitEl--3 {
    grid-area: 3/1/4/2;
  }
  .payement__radioLabel {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  .payement__radioLabel input {
    margin-right: 15px;
    width: 27px;
    height: 27px;
  }
  .payement__radioImg {
    height: 20px;
    margin-left: 13px;
  }
}
@media (min-width: 1250px) {
  .payement {
    margin-top: 94.4px;
    padding-left: 69px;
    padding-right: 69px;
  }
  .payement__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 69px;
    color: #fff;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 69px;
  }
  .payement__method {
    margin-bottom: 47px;
  }
  .payement__form {
    display: flex;
    justify-content: space-around;
  }
  .payement__form--margin {
    margin-bottom: 0px;
  }
  .payement__creditParent {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 29px;
    grid-row-gap: 29px;
    border: 0;
    padding: 0;
    margin-top: 39px;
  }
  .payement__gridLabel {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 17px;
  }
  .payement__gridInput {
    padding: 11px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #ffffff;
    border-radius: 2px;
    font-family: "Manrope", sans-serif;
    margin: 0;
    color: #ffffff;
  }
  .payement__creditEl--1 {
    grid-area: 1/1/2/5;
  }
  .payement__creditEl--2 {
    grid-area: 2/1/3/3;
  }
  .payement__creditEl--3 {
    grid-area: 2/3/3/5;
  }
  .payement__creditEl--4 {
    grid-area: 3/1/4/5;
  }
  .payement__creditParent div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .payement__debitParent {
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 29px;
    grid-row-gap: 29px;
    border: 0;
    padding: 0;
    margin-top: 39px;
  }
  .payement__debitParent div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .payement__debitEl--1 {
    grid-area: 1/1/2/5;
  }
  .payement__debitEl--2 {
    grid-area: 2/1/3/2;
  }
  .payement__debitEl--3 {
    grid-area: 3/1/4/2;
  }
  .payement__radioLabel {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  .payement__radioLabel input {
    margin-right: 20px;
    width: 29px;
    height: 29px;
  }
  .payement__radioImg {
    height: 22px;
    margin-left: 17px;
  }
}
.remerciement {
  margin-top: 67.6px;
  padding-left: 20px;
  padding-right: 20px;
}
.remerciement__title {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 47px;
  color: #fff;
  margin: 0;
  padding-top: 47px;
  margin-bottom: 47px;
}
.remerciement__img {
  width: 100%;
  margin-top: 47px;
}
.remerciement__subtitle {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #fff;
  margin: 0;
  margin-top: 47px;
  margin-bottom: 36px;
}
.remerciement__h3 {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 20px;
  color: #fff;
}
.remerciement__text {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 17px;
  color: #fff;
  margin-bottom: 7px;
}
.remerciement__list {
  padding: 0;
  list-style: none;
  margin-top: 27px;
  margin-bottom: 27px;
}
.remerciement__el {
  font-family: "Manrope", sans-serif;
  margin: 0;
  font-size: 13px;
  color: #fff;
  margin-bottom: 7px;
}

@media (min-width: 750px) {
  .remerciement {
    margin-top: 91.1px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .remerciement__img {
    display: flex;
    margin: 0 auto;
    margin-top: 47px;
    width: 70%;
  }
  .remerciement__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 47px;
    color: #fff;
    margin: 0;
    padding-bottom: 47px;
    margin-top: 84px;
  }
  .remerciement__subtitle {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #fff;
    margin: 0;
    margin-top: 63px;
    margin-bottom: 63px;
  }
  .remerciement__h3 {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 22px;
    color: #fff;
  }
  .remerciement__text {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 20px;
    color: #fff;
    max-width: 70%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .remerciement__list {
    padding: 0;
    list-style: none;
    margin-top: 27px;
    margin-bottom: 27px;
  }
  .remerciement__el {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 17px;
    color: #fff;
    margin-bottom: 7px;
  }
}
@media (min-width: 1250px) {
  .remerciement {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 94.4px;
    padding-left: 69px;
    padding-right: 69px;
  }
  .remerciement__content {
    max-width: 80vw;
  }
  .remerciement__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 69px;
    color: #fff;
    margin: 0;
    padding-top: 69px;
    margin-bottom: 93px;
    padding-bottom: 0;
  }
  .remerciement__subtitle {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
    color: #fff;
    margin: 0;
    margin-top: 69px;
    margin-bottom: 69px;
  }
  .remerciement__img {
    display: flex;
    margin: 0 auto;
    margin-top: 47px;
    width: 70%;
  }
  .remerciement__h3 {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 29px;
    color: #fff;
  }
  .remerciement__text {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 22px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 17px;
    max-width: 70%;
    display: flex;
    margin: 0 auto;
  }
  .remerciement__list {
    padding: 0;
    list-style: none;
    margin-top: 29px;
    margin-bottom: 29px;
  }
  .remerciement__el {
    font-family: "Manrope", sans-serif;
    margin: 0;
    font-size: 22px;
    color: #fff;
    margin-bottom: 7px;
  }
}
body.loading .loader__container {
  display: flex;
}
body:not(.loading) .loader__container {
  display: none;
}

.loader__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000616;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.loader__content {
  position: relative;
  width: 100px;
}
.loader__circle {
  animation: rotate 2s linear infinite;
  height: 100%;
  width: 100%;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  0%, 100% {
    stroke: #fff;
  }
  40% {
    stroke: #000616;
  }
  66% {
    stroke: #fff;
  }
  80%, 90% {
    stroke: #000616;
  }
}
.credits {
  margin-top: 67.6px;
  padding: 0 20px;
}
.credits__title {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 47px;
  color: #fff;
  margin: 0;
  padding-top: 47px;
}
.credits__subtitle {
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  color: #fff;
  margin: 0;
  margin-bottom: 47px;
  margin-top: 47px;
}
.credits__el {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  color: #fff;
  list-style: circle;
  margin-bottom: 10px;
}
.credits__el a {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 750px) {
  .credits {
    margin-top: 91.1px;
    padding: 0 40px;
  }
  .credits__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 63px;
    color: #fff;
    margin: 0;
    padding-top: 63px;
  }
  .credits__subtitle {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 47px;
    color: #fff;
    margin: 0;
    margin-bottom: 63px;
    margin-top: 63px;
  }
  .credits__list {
    padding: 0px;
  }
  .credits__el {
    font-size: 22px;
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .credits {
    margin-top: 94.4px;
    padding: 0 69px;
  }
  .credits__title {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 69px;
    color: #fff;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 69px;
  }
  .credits__subtitle {
    font-family: "Libre Caslon Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 52px;
    color: #fff;
    margin: 0;
    margin-top: 69px;
    margin-bottom: 69px;
  }
  .credits__el a:hover {
    text-decoration: underline;
  }
}/*# sourceMappingURL=app.css.map */